{
  "presets": [
    "@wordpress/default"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "@wordpress/babel-plugin-makepot",
          {
            "output": "languages/wp-team-list-js.pot"
          }
        ]
      ]
    }
  }
}
