/* This stylesheet is used to style the public view of the plugin. */
.wp-team-member {
  clear: both;

  .author-image {
    float: left;
    margin: 0 1em 1em 0;
  }

  h2 {
    clear: none;
    margin-top: 0;
  }

  + .wp-team-member {
    margin-top: 1em;
  }
}